# Server Configuration
PORT=8000
JWT_SECRET=shopeasy_super_secret_jwt_key_2026

# Database Configuration (MongoDB)
# Local MongoDB:
MONGO_URI=mongodb://127.0.0.1:27017/shopeasy

# MongoDB Atlas (Cloud):
# MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/shopeasy?retryWrites=true&w=majority
